#img-container {
    display: flex;
    size: 5%;
    align-content: center;
}

.products-art {
    width: 50%;
    height: auto;
}

@media only screen and (max-width: 560px) {
    #products-art-1 {
        size: 10%;
        display: flex;
        justify-content: center;
    }

