body {
    background-color: #ffffff	;
}

.navbar-default {
    padding-right: 15px; 
}

.container {
    padding-top: 2%;
    justify-content: center;
}

.caption-h1 {
    font-size: 72px;
}

.carousel-caption {
    top: 30%;
    bottom: auto;
    color: #fff;
    text-align: center;
    font-size: 32px;
}

.carousel-inner {
    height: auto;
}

#caption-3 {
    color: #ffffff;
}

@media only screen and (max-width: 997px) {
    .caption-h1 {
        bottom: auto;
        font-size: 48px;
    }
    .carousel-caption {
        font-size: 24px;
        top: 30%;
    }
}

@media only screen and (max-width: 747px) {
    .caption-h1 {
        bottom: auto;
        font-size: 42px;
    }
    .carousel-caption {
        font-size: 18px;
        top: 25%;
    }
}

@media only screen and (max-width: 560px) {
    #contact-us-h1 {
        size: 50%;
        display: flex;
        justify-content: center;
    }
    #card-container-2 {
        size: 50%;
        display: flex;
        justify-content: center;
    }
    #card-container-1 {
        size: 50%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 446px) {
    .caption-h1 {
        bottom: auto;
        font-size: 24px;
    }
    .carousel-caption {
        font-size: 14px;
        top: 18%;
    }
}


@media (max-width: 769px) {
    #mobileLogo {
        align-content: center;
    }
}



.card {
    border: none;
}


.img-thumbnail {
    width: 50px;
    align-items: flex-start;
  }


.card-title {
    align-content: center;
}


.card-block {
    border: none;
    background-color: #fafafa;
    opacity: 0;
}


.card-text {
    align-content: center;
}


.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-img-top {
    align-content: center;
    size: 5%;
}


.img-fluid {
    width: 100%;
    height: 100%;
}


.img-thumbnail {
  width: 50px;
}


.card-title {
  text-align: right;
}


.img-thumbnail {
    width: 25%;
    color: #8e0303;
    border: none;
}


.top-buffer {
    margin-top: 1%;
}


.card-img-top {
    size: 50px;
}





.navbar-expand-lg {
    background-color: #000000;
}


.navbar-nav {
    background-color: #000000;
}


.jumbotron {
    text-align: center;
    background-image: url("img/jumbotron.png");
}


.display-4 {
    color: #ffffff;
}


.lead {
    color: #ffffff;
}


#form-container {
    display: flex;
    align-content: space-between;
}


#btnContactUs {
    background-color: #aa2b24;
    border: none;
}


#contact-us-h1 {
    padding-top: 1%;
    padding-bottom: 5%;
}


#product-image {
    height: 5%;
}


