body {
    background-color: #ffffff	;
}


.container {
    padding-top: 2%;
    justify-content: center;
}


.carousel-caption {
    top: 30%;
    bottom: auto;
    color: #fff;
    text-align: center;
}

.carousel-inner {
    height: 400px;
}

#caption-3 {
    color: #ffffff;
}

/*@media only screen and (min-width: 768px) {
    #5-stone-carousel {
        display: none;
    }
}


@media (min-width: 769px) and (max-width: 1281px) {
    #mobileLogo {
        align-content: center;
    }
}
*/


.card {
    border: none;
}


.img-thumbnail {
    width: 50px;
    align-items: flex-start;
  }


.card-title {
    align-content: center;
}


.card-block {
    border: none;
    background-color: #fafafa;
    opacity: 0;
}


.card-text {
    align-content: center;
}


.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-img-top {
    align-content: center;
    size: 5%;
}


.img-fluid {
    width: 100%;
    height: 100%;
}


.img-thumbnail {
  width: 50px;
}


.card-title {
  text-align: right;
}


.img-thumbnail {
    width: 25%;
    color: #8e0303;
    border: none;
}


.top-buffer {
    margin-top: 1%;
}


.card-img-top {
    size: 50px;
}


.navbar-default {
    padding-right: 15px; 
}


.navbar-expand-lg {
    background-color: #000000;
}


.navbar-nav {
    background-color: #000000;
}


.jumbotron {
    text-align: center;
    background-image: url("img/jumbotron.png");
}


.display-4 {
    color: #ffffff;
}


.lead {
    color: #ffffff;
}


#form-container {
    display: flex;
    align-content: space-between;
}


#btnContactUs {
    background-color: #aa2b24;
    border: none;
}


#contact-us-h1 {
    padding-top: 1%;
    padding-bottom: 5%;
}


#product-image {
    height: 5%;
}


